.round__list {
  padding: 0;
}

.round__element {
  display: none;
}

.round__element--active {
  display: block;

  background-color: $white;
  background-image: url(../../img/background.png);
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url(../../img/background@2x.png);
    background-size: contain;
  }

  @media (max-width: $tablet-width) {
    background-image: none;
    background-color: inherit;
  }
}
